<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book List</title>
</head>
<body>
    <header>
        <h1>List of Books</h1>
    </header>
    <main>
        <h1>Books</h1>
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
